.Cart {
  border-top: 1px solid #eee;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-top: 200px;

  @media (max-width: 480px) {
    margin: 1rem;
  }
}

.Cart-title {
  margin-bottom: 2rem;
}

.checkout-clearcart-button {
  margin: 1rem;
  cursor: pointer;
  color: cadetblue;
  font-weight: 550;
  font-size: 16px;
}

.checkout-clearcart-button:hover,
.checkout-clearcart-button:focus {
  color: #00677d;
}

.Cart-total-cost {
  font-weight: 700;
  padding: 2rem;
}

.Cart-button-purchase {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 0;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background-color: #262626;
  color: #fff;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;
}

.Cart-button-purchase:hover,
.Cart-button-purchase:focus {
  background-color: #00677d;
}

.checkout-continueshopping-button {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 0;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background-color: cadetblue;
  color: #fff;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.checkout-continueshopping-button:hover,
.checkout-continueshopping-button:focus {
  background-color: #00677d;
}

.Cart-navigation {
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.Cart-message-empty {
  margin: 2rem;
}
