.Cart {
  border-top: 1px solid #eee;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  @media (max-width: 480px) {
    margin: 1rem;
  }
}

.Cart-title {
  margin-bottom: 2rem;
}

.Cart-clear-button {
  border-bottom: 1px solid #eee;
  margin: 1rem;
  cursor: pointer;
}

.Cart-clear-button:hover,
.Cart-clear-button:focus { 
  color: #00677D;
}

.Cart-total-cost {
  font-weight: 700;
  padding: 2rem;
}

.Cart-button-purchase {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 0;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background-color: #262626;
  color: #fff;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;
}

.Cart-button-purchase:hover,
.Cart-button-purchase:focus {
  background-color: #00677D;
}

.Cart-button-cancel {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 0;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background-color: #757575;
  color: #fff;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.Cart-button-cancel:hover,
.Cart-button-cancel:focus {
  background-color: #a1a1a1;
}

.Cart-navigation {
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.Cart-message-empty{
  margin: 2rem;
}
