.Cart {
  border-top: 1px solid #eee;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.Cart-clear-button {
  border-bottom: 1px solid #eee;
  margin: 1rem;
}

.Cart-clear-button:hover,
.Cart-clear-button:focus { 
  color: #00677D;
}

.Cart-total-cost {
  font-weight: 700;
  padding: 2rem;
}

.Cart-purchase-button {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 0;
  outline: 0;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color: #262626;
  color: #fff;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;
}

.Cart-purchase-button:hover,
.Cart-purchase-button:focus {
  background-color: #00677D;
}

.Cart-cancel-button {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 0;
  outline: 0;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color: #757575;
  color: #fff;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  -webkit-appearance: none;
}

.Cart-cancel-button:hover,
.Cart-cancel-button:focus {
  background-color: #a1a1a1;
}

.Cart-navigation {
  display: flex;
  justify-content: space-evenly;
}
