.reviewsContent {
  cursor: pointer;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  border-radius: 0 0 5px 5px;
  padding: 15px 15px 15px 0;
  font-size: 14px;
  // background-color: red;
}

.writeReview {
  width: calc(100%);
  padding: 10px 0 5px 0;
  &:hover {
    font-weight: 500;
  }
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  background-color: cadetblue;
  color: white;
}
// .writeReview p {
//   border-bottom: solid 1px cadetblue;
// }

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewsHeader {
  // border: 1px solid #dcd3d3;
  width: 90%;
  background-color: rgb(249, 249, 249);
  // box-shadow: 0px 1px 1px;
  cursor: pointer;
  padding: 15px;
  // max-width: calc(55%);
  // min-width: calc(55%);
  display: flex;
  align-self: end;
  font-size: 18px;
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%);
    // background-color: blue;
    color: black;
  }

  .user-review-emailandmessage-container {
    // background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    @media (max-width: 768px) and (min-width: 480px) {
      flex-direction: column;
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .nameDateTitle {
    display: flex;
    align-items: center;
    font-weight: 650;
    // background-color: chartreuse;
    margin-right: 10px;
  }
}

.user-review-message {
  display: flex;
  align-items: center;
  // background-color: blue;
}

.user-review-date {
  font-weight: 450;
  margin-top: 5px;
  margin-bottom: 30px;
}

.average-user-ratings {
  margin-top: 30px;
  font-size: 12px;
  // @media (max-width: 768px) and (min-width: 480px) {
  //   font-size: 12px;
  // }
  // @media (max-width: 480px) {
  //   font-size: 12px;
  // }
}
