.product-card-style {
  height: 480px;
  margin: 10px;
}

.product-card-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.product-card-image-container img {
  width: 200px;
  height: 250px;
  object-fit: scale-down;
}

.products-card-nametitle-container {
  color: gray;
  font-size: 16px;
  font-weight: 250;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-card-nameprice-container {
  color: black;
  font-weight: 900;
}

.products-card-nametitle-container p {
  text-align: center;
}

.product-card-title-container {
  height: 150px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-card-price-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-button {
  background-color: #000000;
  color: white;
  width: 50%;
  height: 22px;
  font-weight: 550;
}

.card-button:hover {
  background-color: #00677d;
  cursor: pointer;
}

.wishlist-icon-heart-card {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  font-size: 20px;
  color: rgb(190, 190, 190);
}

.wishlist-icon-heart-card:hover {
  color: red;
  cursor: pointer;
}
