


.drawer-product-type-title {
  color: black;
}

.drawer-product-type-tags {
  margin-bottom: 30px;
}

.drawer-product-type-tags .producttype-tags:hover {
  color: gray;
}


.ant-tag-checkable-checked {
  background-color: #00677D;
}

