.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.navbar-logo a {
  font-size: 35px;
  margin-left: 50px;
}

.navbar-links-group a {
  margin-right: 50px;
}

.mobile-menuitems {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mobile-menuitems a {
  margin-right: 30px;
}

.navbar-links-group {
  margin-right: 100px;
}

.Burger-Icon {
  &:hover {
    color: #00677d;
  }
  margin-right: 60px;
}

.navbar {
  /* tablet */
  @media (max-width: 768px) and (min-width: 480px) {
    font-size: 1rem;
    .navbar-links {
      display: none;
    }
    .Burger-Icon {
      margin-right: 0px;
    }
    .navbar-links-group {
      margin-right: 0px;
    }
    .mobile-menuitems a {
      margin-right: 15px;
    }
    .navbar-logo a {
      font-size: 30px;
      margin-left: 30px;
    }
    .Burger-Icon {
      margin-right: 30px;
    }
  }
  /* mobile */
  @media (max-width: 480px) {
    font-size: 1rem;
    .navbar-links {
      display: none;
    }
    .Burger-Icon {
      margin-right: 0px;
    }
    .navbar-links-group {
      margin-right: 0px;
    }
    .mobile-menuitems a {
      margin-right: 15px;
    }
    .navbar-logo a {
      font-size: 30px;
      margin-left: 30px;
    }
    .Burger-Icon {
      margin-right: 30px;
    }
  }
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  right: 0px;
  top: 0;
  & a,
  & span {
    color: black;
    text-decoration: none;
    &:hover {
      color: #00677d;
    }
  }
  z-index: 100;
}

.navbar-drawer-hamburguer a {
  color: black;
}

.navbar-drawer-hamburguer a:hover {
  color: #00677d;
}

.navbar-cart-icons span sup span {
  color: white;
  font-weight: 550;
}

.navbar-cart-icons span sup span:hover {
  color: white;
}
