// $greyblack: #262626;
// $bluegreen: #00677d;
// $purple-color: #63418f;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  // font-family: 'Roboto', Helvetica, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  // width: 90%;
  margin: 0 auto;
  margin-top: 100px; // This ensure the space between the navbar and the start of the page is always 40px
  margin-bottom: 100px;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}
